<div id="<%= dom_id post %>" class="shadow-2xl p-4 mb-8 rounded-lg bg-white">
  <% if action_name != "show" %>
    <div class="flex justify-end">
      <%= link_to (heroicon "zoom-in"), post, class: "button ml-2" %>
      <%= link_to (heroicon "pencil-alt"), edit_post_path(post), class: "button ml-2" %>
      <%= link_to "TEST", edit_post_path(post), class: "button ml-2" %>
    </div>
  <% else %>
    <div class="grid grid-rows-1 grid-cols-2">
      <div class="flex justify-start">
        <%= link_to (heroicon "arrow-left"), posts_path, class: "button ml-2" %>
      </div>

      <div class="flex justify-end">
        <div class="inline-flex">
          <%= link_to (heroicon "pencil-alt"), edit_post_path(@post), class: "button ml-2" %>
          <%= button_to (heroicon "trash"), post_path(@post), method: :delete, class: "button ml-2" %>
        </div>
      </div>
    </div>
  <% end %>

  <p class="my-5 flex justify-center">
    <!-- Published Control -->
    <% if post.published %>
      <%= heroicon "check", class: "h-6 w-6 text-green-500 bg-green-200 rounded-full"%>
    <% else %>
      <%= heroicon "x", class: "h-6 w-6 text-red-500 bg-red-200 rounded-full"%>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>


  <p class="my-5">
    <strong class="font-medium mb-1">Body:</strong>
    <% if action_name != "show" %>
      <%= post.body[0..100] + " ..." %>
    <% else %>
      <%= post.body%>
    <% end %>
  </p>

</div>

